.nutritions {
  margin-bottom: 24px;
  padding: 16px;
  border-radius: 12px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  }

  &__button {
    background-color: white;
    border: 1px solid gray;
    width: 24px;

    transition: border-color, 0.3s ease;

    &:hover {
      border-color: black;
      cursor: pointer;
    }
  }

  &__count {
    display: inline-block;
    width: 24px;
    text-align: center;
  }

  &__item {
    font-size: 14px;
    list-style: square;
  }
}