@use '../../styles/mixins' as *;

.recipePage {
  padding: 2rem 1rem;

  &__buttonBack {
    align-self: flex-start;
    padding: 0.3rem 0.8rem;
    font-size: 0.7rem;
    background: #f5f5f5;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s ease;
    margin-bottom: 24px;

    &:hover {
      background: #e0e0e0;
    }
  }

  &__title {
    @include heading(h2);

    margin-bottom: 12px;
  }

  &__steps {
    font-size: 16px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #444;
  }

  .ingredientsTable,
  .howToCook {
    margin-top: 0.5rem;
  }
}
