.navigation {
  &__list {
    padding: 0;
    margin: 0;
  }

  &__item {
    list-style: none;
  }

  &__link {
    color: black;
    text-decoration: none;

    &:hover {
      color: gray;
    }
  }

  &__list--desktop {
    display: flex;
    gap: 60px;
  }

  &__list--mobile {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
}

.dropdown--mobile {
  list-style: none;
  padding-left: 16px;
  margin: 4px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__item {
    font-size: 14px;
    color: #555;
    cursor: pointer;
    padding: 4px 0;

    &:hover {
      color: #000;
    }
  }
}

.drodpown--desktop {
  list-style: none;
}